@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/great-vibes');
@import url('https://fonts.cdnfonts.com/css/poppins');



html body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/babyshower-7ef8b.appspot.com/o/Fondo%20De%20Unicornio%20De%20Sue%C3%B1o%20P%C3%BArpura%20de%20Pantalla%20Imagen%20para%20Descarga%20Gratuita%20-%20Pngtree.jpg?alt=media&token=8c538811-497b-43fe-8f02-4bce0b5413b3');
  background-size: auto;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.mi {
  font-family: 'Great Vibes', sans-serif;
}

.normal-text{
  font-family: 'Almarai';
  font-size: 20px;
}

.pop{
  font-family: 'Poppins', sans-serif;
}

.name {
  font-family: 'Satisfy';
  font-size: 100px;
  color: #eebbbb;
  font-weight: bold;
  text-shadow: 4px 4px 4px #5b4d4d;
}