@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/great-vibes');
@import url('https://fonts.cdnfonts.com/css/poppins');



html body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/babyshower-7ef8b.appspot.com/o/c0943bb6a64ef81565ded0688a22b481.jpg?alt=media&token=db7f483b-c68c-474f-8d1f-252c2c23854c');
  background-size: auto;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.mi {
  font-family: 'Great Vibes', sans-serif;
}

.normal-text{
  font-family: 'Almarai';
  font-size: 20px;
}

.pop{
  font-family: 'Poppins', sans-serif;
}

.name {
  font-family: 'Satisfy';
  font-size: 100px;
  color: #eebbbb;
  font-weight: bold;
  text-shadow: 4px 4px 4px #5b4d4d;
}